/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .main h1 {
    font-size: 35px;
  }
  .main h2 {
    font-size: 20px;
  }
  .main-bottom {
    height: 110px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .logo_kiri {
    display: none;
  }
  .logo_kanan {
    display: none;
  }
  .main-border {
    height: 90px;
  }
  .main h1 {
    font-size: 15px;
  }
  .main h2 {
    font-size: 15px;
  }
  .main-bottom {
    height: 150;
  }
  .main-bottom p {
    font-size: 12px;
  }
}